{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row ml-1 mt-5 m-md-5">
        <a href="{% url 'products' %}" class="btn mt-5 m-md-5">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>Keep Shopping</span>
        </a>
    </div>
    <div class="container mb-2">
        <div class="row mt-5">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row">
            {% if bag_items %}
                {% for item in bag_items %}
                <div class="row">
                    <!--Image Column-->
                    <div class="col-4 p-3 w-50">
                        <div>
                            {% if item.product.image %}
                            <img class="img-fluid rounded" src="{{ item.product.image.url }}" alt="{{ item.product.name }}">
                        </div>
                            {% else %}
                            <img class="img-fluid rounded" src="{{ MEDIA_URL }}media/not_available.jpg" alt="{{ item.product.name }}">
                        {% endif %}
                    </div>
                    
                    <div class="col-8">
                        <!--Product description column-->
                        <div class="row">
                            <div class="col-6 d-block py-3">
                                <p class="my-0"><strong>{{ item.product.name }}</strong></p>
                                <p class="my-0"><strong>Size: </strong>{% if item.product.has_sizes %}{{ item.size|upper }}{% else %}N/A{% endif %}</p>
                                <p class="my-0 small text-muted">SKU: {{ item.product.sku|upper }}</p>
                            </div>
                            <!--Subtotal-->
                            <div class="col-6 py-3 text-right">
                                <p>Subtotal</p>
                                <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </div>
                                <!--Item price-->
                                <!-- <div class="col-4 py-3">
                                    <p class="my-0">£{{ item.product.price }}</p>
                                </div> -->
                        </div>
                        <!--Qty button-->
                        <div class="row m-0 p-0">
                            <div class="col-12 col-sm-6 mb-3">
                                <form action="{% url 'adjust_bag' item.item_id %}" class="form update-form" method="POST">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <div class="input-group input-group-{{ item.item_id }}">
                                            <div class="input-group-prepend">
                                                <button class="decrement-qty btn btn-dark decrement-qty_{{ item.item_id }}
                                                        {% if item.weight %}decrement-weight_{{ item.item_id }}_{{ item.weight }}{% endif %}"
                                                data-item_id="{{ item.item_id }}" data-weight="{{ item.weight }}">
                                                    <span>
                                                        <i class="fas fa-minus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            <input class="form-control form-control-sm qty_input text-center id_qty_{{ item.item_id }}
                                                    {% if item.weight %}weight_{{ item.item_id }}_{{ item.weight }}{% endif %}" type="number" name="quantity"
                                                value="{{ item.quantity }}" min="1" max="99" data-weight="{{ item.weight }}" data-item_id="{{ item.item_id }}">
                                        
                                            <div class="input-group-append">
                                                <button class="increment-qty btn btn-success increment-qty_{{ item.item_id }}
                                                            {% if item.weight %}increment-weight_{{ item.item_id }}_{{ item.weight }}{% endif %}"
                                                    data-item_id="{{ item.item_id }}" data-weight="{{ item.weight }}">
                                                    <span>
                                                        <i class="fas fa-plus fa-sm"></i>
                                                    </span>
                                                </button>
                                            </div>
                                            {% if item.product.has_weight %}
                                                <input type="hidden" name="product_weight" value="{{ item.weight }}">
                                            {% endif %}
                                        </div>
                                    </div>
                                </form>
                                    
                                    <a class="update-link text-info float-right"><small>Update</small></a>
                                    
                                    <a class="remove-item text-danger " id="remove_{{ item.item_id }}"
                                    data-product_weight="{{ item.weight }}"><small>Remove</small></a>
                            </div>
                        </div>

                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="pt-5 text-right">
                        <h6><strong>Bag Total: £{{ total|floatformat:2 }}</strong></h6>
                        <h6>Delivery: £{{ delivery|floatformat:2 }}</h6>
                        <h4 class="mt-4"><strong>Grand Total: £{{ grand_total|floatformat:2 }}</strong></h4>
                        {% if free_delivery_delta > 0 %}
                            <p class="mb-1 text-danger">
                                You could get free delivery by spending just <strong>£{{ free_delivery_delta }}</strong> more!
                            </p>
                        {% endif %}
                    </div>
                    <div class="text-right">
                        <a href="{% url 'checkout' %}" class="btn btn-secondary">
                            <span class="text-uppercase">Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
                <a href="{% url 'products' %}" class="btn btn-outline-black rounded-0 btn-lg"></a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}