{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="row ml-1 mt-5 m-md-5">
        <a href="{% url 'products' %}" class="btn mt-5 m-md-5">
            <span class="icon">
                <i class="fas fa-chevron-left"></i>
            </span>
            <span>Keep Shopping</span>
        </a>
    </div>
    <div class="container mb-2">
        <div class="row mt-5">
            <div class="col">
                <hr>
                <h2 class="logo-font mb-4">Shopping Bag</h2>
                <hr>
            </div>
        </div>

        <div class="row w-100">
            {% if bag_items %}
                {% for item in bag_items %}
                <div class="row w-100">
                    <!--Image Column-->
                    <div class="col-4 p-3 w-50">
                        {% include 'includes/product-image.html' %}
                    </div>
                    
                    <div class="col-8">
                        <!--Product description column-->
                        <div class="row">
                            <div class="col-6 d-block py-3">
                                {% include 'includes/product-info.html' %}
                                <p class="my-0">£{{ item.product.price }}</p>
                            </div>

                            <!--Subtotal-->
                            <div class="col-6 py-3 text-right">
                                <p>Subtotal</p>
                                <p class="my-0">£{{ item.product.price | calc_subtotal:item.quantity }}</p>
                            </div>
                        </div>
                        
                        <!--Qty button-->
                        <div class="row m-0 p-0">
                            <div class="col-12 col-sm-6 mb-3">
                                {% include 'includes/quantity-form.html' %}
                                    <a class="update-link text-info float-right"><small>Update</small></a>
                                    <a class="remove-item text-danger " id="remove_{{ item.item_id }}"
                                    data-product_weight="{{ item.weight }}"><small>Remove</small></a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

            <div class="row">
                <div class="col-12">
                    <div class="pt-5 text-right">
                        {% include 'includes/bag-total.html' %}
                    </div>
                    <div class="text-right">
                        <a href="{% url 'checkout' %}" class="btn btn-secondary">
                            <span class="text-uppercase">Secure Checkout</span>
                            <span class="icon">
                                <i class="fas fa-lock"></i>
                            </span>
                        </a>
                    </div>
                </div>
            </div>
            {% else %}
                <p class="lead mb-5">Your bag is empty.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}

<script type="text/javascript">
    // Update quantity on click
    $('.update-link').click(function(e) {
        var form = $(this).prev('.update-form');
        form.submit();
    })

    // Remove item and reload on click
    $('.remove-item').click(function(e) {
        var csrfToken = "{{ csrf_token }}";
        var itemId = $(this).attr('id').split('remove_')[1];
        var size = $(this).data('product_size');
        var url = `/bag/remove/${itemId}/`;
        var data = {'csrfmiddlewaretoken': csrfToken, 'product_size': size};

        $.post(url, data)
         .done(function() {
             location.reload();
         });
    })
</script>
{% endblock %}