html {
    height: 100%;
}

/*-------------------------------------Main-Nav */
#main-header {
    background-color: black;
    margin-left: -15px;
    margin-right: -15px;
}

#pic-logo {
    height: 50px;
}

.product-border{
  border: 3px solid black;
}

.fa-search {
  color:#fff;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}

#categories-header {
  /* display: flex!important; */
  justify-content: space-around;
  color: white;
}

.header-container {
  padding-top: 100px;
  margin-bottom: -20px;
}

.input-group {
  display: flex!important;
}

#info-banner {
  background-color: rgb(212, 213, 214, 0.9);
}

.subscribe-form {
  background-color: rgb(212, 213, 214, 0.9);
}

@media (max-width: 1249px) {
  .p-nav {
    font-size: 11px;
  }

  .ham-menu {
    background-color: #fff;
  }
}

.message-container {
  position: fixed;
  top: 72px;
  right: 15px;
  z-index: 99999999999;
}

.custom-toast {
  overflow: visible;
}

.toast-capper {
  height: 2px;
}

#edit-btn {
  margin-left: -22px;
}

#img-border {
  border: 15px solid #fff;
}

.text-p {
  padding-left: 50px;
  padding-right: 50px;
  margin: 2px;
}

.p-size {
  font-size: 20px;
}

.image-container {
  object-fit: contain;
  border: 5px solid #0d151e;
}

.increment-qty, .decrement-qty {
  padding: .25rem .5rem !important;
}

@media (min-width: 992px) {

}


/* Product Form */

.btn-file {
  position: relative;
  overflow: hidden;
}

.btn-file input[type="file"] {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  cursor: pointer;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
  border-color: #dc3545;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
  background-color: #dc3545;
  border-color: #dc3545;
  border-radius: 0;
}



/*Codepen Carousel */

.carousel {
  position: relative;
}
.carousel-item img {
  object-fit: cover;
}
#carousel-thumbs {
  background: rgba(255,255,255,.3);
  bottom: 0;
  left: 0;
  padding: 0 50px;
  right: 0;
}
#carousel-thumbs img {
  border: 5px solid transparent;
  cursor: pointer;
}
#carousel-thumbs img:hover {
  border-color: rgba(255,255,255,.3);
}
#carousel-thumbs .selected img {
  border-color: #fff;
}
.carousel-control-prev,
.carousel-control-next {
  width: 50px;
}
@media all and (max-width: 767px) {
  .carousel-container #carousel-thumbs img {
    border-width: 3px;
  }
}
@media all and (min-width: 576px) {
  .carousel-container #carousel-thumbs {
    position: absolute;
  }
}
@media all and (max-width: 576px) {
  .carousel-container #carousel-thumbs {
    background: #ccccce;
  }
}



/* Footer */
		
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  color: #2f3044;
  font-weight: 500;
  line-height: 1.2;
  margin-bottom: 0.5rem;
}
  
.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
}
  
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
  padding-left: 10px;
  padding-right: 10px;
  position: relative;
  width: 100%;	
}
  
.d-flex {
display: flex!important;
}		
.flex-column {
  flex-direction: column!important;
}

.bgi-position-y-top {
  background-position-y: top;
}
.bgi-position-x-center {
  background-position-x: center;
}
.bgi-no-repeat {
  background-repeat: no-repeat;
}
.bgi-size-cover {
  background-size: cover;
}
  
.h-150px {
  height: 150px!important;
}
  
.font-size-4 {
  font-size: 1.8rem!important;
}
.font-size-3 {
  font-size: 1.4rem!important;
}

.block-dark {
background-color: #0d151e;
}
.dark-top-curved-bg {
background-image: url('https://keenthemes.com/images/misc/curve-dark-top-bg.png');
}		

.text-muted, .text-muted i {
color: #b5b5c3!important;
}		
.text-dark-60 {
color: #7e8299!important;
}		
.page_speed_560018307 {
border-top: 1px solid #152231;
}		
.h-20px {
height: 20px!important;
}		
.mr-2, .mx-2 {
margin-right: 0.5rem!important;
}
.rounded-sm {
border-radius: 0.25rem!important;
}	

.w-20px {
width: 20px!important;
}	
.mr-4, .mx-4 {
  margin-right: 1rem!important;
}
  
/* Media Query 992px */
@media (min-width: 992px)
{
.col-lg {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}	
.pb-lg-3, .py-lg-3 {
    padding-bottom: 0.75rem!important;
}	
.h-lg-225px {
  height: 225px!important;
}	
}