<!--Medium, Small Displays-->
<div class="collapse d-xl-none w-100 justify-content-center" id="main-nav">
    <ul class="list-inline list-unstyled text-center d-flex justify-content-between w-auto mx-auto">
        <li class="nav-item dropdown my-auto a-nav pl-3">
            <a class="text-white" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
               Filter
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a> 
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a> 
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a> 
                <a href="{% url 'products' %}" class="dropdown-item">All Prints</a>
            </div>
        </li>

        <li class="nav-item dropdown my-auto a-nav">
            <a class="text-white" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Prints
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=animated" class="dropdown-item">Animated</a>
                <a href="{% url 'products' %}?category=real_shots" class="dropdown-item">Real Shots</a>
                <a href="{% url 'products' %}?category=abstract" class="dropdown-item">Abstract</a>
                <a href="{% url 'products' %}?category=best_sellers" class="dropdown-item">Best Sellers</a>
            </div>
        </li>

        <li class="nav-item dropdown my-auto a-nav">
            <a class="text-white" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Arrivals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=animated" class="dropdown-item">Animated</a>
                <a href="{% url 'products' %}?category=real_shots" class="dropdown-item">Real Shots</a>
                <a href="{% url 'products' %}?category=abstract" class="dropdown-item">Abstract</a>
            </div>
        </li>

        <li class="nav-item dropdown my-auto a-nav">
            <a class="text-white a-nav pr-3" href="#" id="offers-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu border-0 btn-clearance-sx-screen" aria-labelledby="offers-link">
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
            </div>
        </li>
    </ul>
</div>


<!--XL Displays-->
<div class="d-none d-xl-flex">
    <ul class="w-auto mx-auto list-inline list-unstyled text-center my-0 d-flex justify-content-between">
        <li class="my-auto list-inline-item a-nav">
            <a class="text-white p-0 mr-1 ml-1" href="#" id="all-products-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Price</a> 
                <a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item ">By Rating</a> 
                <a href="{% url 'products' %}?sort=category&direction=asc" class="dropdown-item ">By Category</a> 
                <a href="{% url 'products' %}" class="dropdown-item">All Prints</a>
            </div>
        </li>

        <li class="my-auto list-inline-item a-nav">
            <a class="text-white p-0 mr-1 ml-1" href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Prints
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=animated" class="dropdown-item">Animated</a>
                <a href="{% url 'products' %}?category=real_shots" class="dropdown-item">Real Shots</a>
                <a href="{% url 'products' %}?category=abstract" class="dropdown-item">Abstract</a>
                <a href="{% url 'products' %}?category=best_sellers" class="dropdown-item">Best Sellers</a>
            </div>
        </li>

        <li class="my-auto list-inline-item a-nav">
            <a class="text-white p-0 mr-1 ml-1" href="#" id="homeware-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New Arrivals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <a href="{% url 'products' %}?category=animated" class="dropdown-item">Animated</a>
                <a href="{% url 'products' %}?category=real_shots" class="dropdown-item">Real Shots</a>
                <a href="{% url 'products' %}?category=abstract" class="dropdown-item">Abstract</a>
            </div>
        </li>

        <li class="my-auto list-inline-item a-nav">
            <a class="text-white p-0 mr-1 ml-1" href="#" id="offers-lg-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Offers
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="offers-lg-link">
                <a href="{% url 'products' %}?category=deals" class="dropdown-item">Deals</a>
                <a href="{% url 'products' %}?category=clearance" class="dropdown-item">Clearance</a>
            </div>
        </li>
    </ul>
</div>