{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">	
    {% endblock %}

    {% block corejs %}
    <script src="https://kit.fontawesome.com/e9c73d7092.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> <!--This might cause a bug with the navbar not retracting-->
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    {% endblock %}

    {% block extra_js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>	
    {% endblock %}

    <title>Pic Shack {% block extra_title %} {% endblock %}</title>
  </head>

  <body>
    <header class="container-fluid fixed-top ">
        <!--XL Screens Header-->
        <div class="row d-none d-xl-flex main-header p-lg-2">
            <!--Picture Logo Column-->
            <div class="col-md-4 col-xl-3 my-auto">
                <a href="{% url 'home' %}">
                    <img src="media/logo/picshack-logo.001.png" id="pic-logo" alt="picture shack logo picture" class="img-fluid">
                </a>
            </div>

            <!--Code inspired by CI tutorial-->

            <!--Categories Section-->
            <div class="col-xl-4 my-auto" id="categories-header">
                {% include 'includes/main-nav.html' %}
            </div>
            
            <!--Search Bar-->
            <div class="col-xl-3 my-auto">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-0" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!--My Account and Basket-->
            <div class="col-xl-2 my-auto p-0">
                <ul class="list-inline list-unstyled text-center my-0">
                    <li class="list-inline-item dropdown">
                        <a class="text-white nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-m"></i></div>
                                <p class="my-0 p-nav">My Account</p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link" href="#"> <!--URL Needing updating for bag view view_bag-->
                            <div class="text-center">
                                <div><i class="fas fa-shopping-bag fa-m"></i></div>
                                <p class="my-0 text-white p-nav">
                                    {% if grand_total %}
                                        ${{ grand_total|floatformat:2 }}
                                    {% else %}
                                        $0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--L, M, S Screen Size Header-->
        <div class="row d-xl-none main-header">
            <div class="pic-logo d-none d-sm-block">
                <a href="{% url 'home' %}">
                    <img src="media/logo/picshack-logo.001.png" id="pic-logo" alt="picture shack logo picture" class="img-fluid">
                </a>
            </div>
            <nav class="navbar navbar-light w-100 justify-content-between">
                <button class="navbar-toggler ham-menu" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}                
            </nav>
            {% include 'includes/main-nav.html' %}
        </div>
        
    </header>

    {% if messages %}
    <div class="message-container"></div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    {% endblock %}

    {% block footer %}
<!--
    <footer class="footer block-dark mt-n15 mt-lg-n30">
    <div class="h-150px h-lg-225px bgi-no-repeat bgi-position-x-center bgi-position-y-top bgi-size-cover dark-top-curved-bg"></div>

    <div class="container mt-n15">
        <div class="row">
            <div class="col-6 col-lg">
                <div class="pb-10">
                    <h3 class="text-muted mb-5 mb-lg-7 font-size-4">Products</h3>
                    <div class="d-flex flex-column font-size-3 font-weight-bold">
                        <a href="https://developer6669.com" class="text-dark-60 text-hover-primary py-2 py-lg-3">Pro Templates</a>
                        <a href="https://developer6669.com" class="text-dark-60 text-hover-primary py-2 py-lg-3">Free Templates</a>
                        <a href="https://developer6669.com" class="text-dark-60 text-hover-primary py-2 py-lg-3">Developer6669</a>
                     </div>
                </div>
            </div>

            <div class="col-6 col-lg">
                <div class="pb-10">
                    <h3 class="text-muted mb-5 mb-lg-7 font-size-4">Learn</h3>
                    <div class="d-flex flex-column font-size-3 font-weight-bold">
                        <a href="https://developer6669.com" class="text-dark-60 text-hover-primary py-2 py-lg-3">All Tutorials</a>
                        <a href="https://developer6669.com" class="text-dark-60 text-hover-primary py-2 py-lg-3">Metronic Tutorials</a>
                        <a href="https://developer6669.com" class="text-dark-60 text-hover-primary py-2 py-lg-3">Keen Tutorials</a>
                        <a href="https://developer6669.com" class="text-dark-60 text-hover-primary py-2 py-lg-3">Blog &amp; News</a>
                        <a href="https://developer6669.com" class="text-dark-60 text-hover-primary py-2 py-lg-3">Hire Experts</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg">
                <div class="pb-10">
                    <h3 class="text-muted mb-5 mb-lg-7 font-size-4">Resources</h3>

                    <div class="d-flex flex-column font-size-3 font-weight-bold">
                        <a href="https://developer6669.com" class="text-dark-60 text-hover-primary py-2 py-lg-3">FAQs</a>
                        <a href="https://developer6669.com" class="text-dark-60 text-hover-primary py-2 py-lg-3">Support</a>
                        <a href="https://developer6669.com" class="text-dark-60 text-hover-primary py-2 py-lg-3">Contact Us</a>
                        <a href="https://developer6669.com" class="text-dark-60 text-hover-primary py-2 py-lg-3">Affiliate Program</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg">
                <div class="pb-10">
                    <h3 class="text-muted mb-5 mb-lg-7 font-size-4">General</h3>

                    <div class="d-flex flex-column font-size-3 font-weight-bold">
                        <a href="https://developer6669.com" class="text-dark-60 text-hover-primary py-2 py-lg-3">License Terms</a>
                        <a href="https://developer6669.com" class="text-dark-60 text-hover-primary py-2 py-lg-3">Privacy Policy</a>
                        <a href="https://developer6669.com" class="text-dark-60 text-hover-primary py-2 py-lg-3">Terms &amp; Conditions</a>
                        <a href="https://developer6669.com" class="text-dark-60 text-hover-primary py-2 py-lg-3">Refund Policy</a>
                    </div>
                </div>
            </div>

            <div class="col-6 col-lg">
                <div class="pb-10">
                    <h3 class="text-muted mb-5 mb-lg-7 font-size-4">Stay Connected</h3>

                    <div class="d-flex flex-column font-size-3 font-weight-bold">
                        <a href="https://developer6669.com" class="d-flex align-items-center text-center text-dark-60 text-hover-primary py-2 py-lg-3">
                            <img src="https://developer6669.com/Projects/assets/images/icons/social-media/facebook.svg" data-lazy-src="https://developer6669.com/Projects/assets/images/icons/social-media/facebook.svg" class="w-20px mr-4 loaded" alt="">
                            Facebook
                        </a>
                                            <a href="https://developer6669.com" class="d-flex align-items-center text-center text-dark-60 text-hover-primary py-2 py-lg-3">
                            <img src="https://developer6669.com/Projects/assets/images/icons/social-media/twitter.svg" data-lazy-src="https://developer6669.com/Projects/assets/images/icons/social-media/twitter.svg" class="w-20px mr-4 loaded" alt="">
                            Twitter
                        </a>
                                            <a href="https://developer6669.com" class="d-flex align-items-center text-center text-dark-60 text-hover-primary py-2 py-lg-3">
                            <img src="https://developer6669.com/Projects/assets/images/icons/social-media/dribbble.svg" data-lazy-src="https://developer6669.com/Projects/assets/images/icons/social-media/dribbble.svg" class="w-20px mr-4 loaded" alt="">
                            Dribbble
                        </a>
                                            <a href="https://developer6669.com" class="d-flex align-items-center text-center text-dark-60 text-hover-primary py-2 py-lg-3">
                            <img src="https://developer6669.com/Projects/assets/images/icons/social-media/instagram.svg" class="w-20px mr-4 loaded"  data-lazy-src="https://developer6669.com/Projects/assets/images/icons/social-media/instagram.svg" alt="">
                            Instagram
                        </a>
                                            <a href="https://developer6669.com" class="d-flex align-items-center text-center text-dark-60 text-hover-primary py-2 py-lg-3">
                            <img src="https://developer6669.com/Projects/assets/images/icons/social-media/github.svg" class="w-20px mr-4 loaded"  data-lazy-src="https://developer6669.com/Projects/assets/images/icons/social-media/github.svg"  alt="">
                            Github
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="page_speed_247610277"></div>

    <div class="container py-5 py-lg-10">
        <div class="d-flex flex-column flex-md-row align-items-center justify-content-center justify-content-md-between">
            <div class="d-flex align-items-center mr-md-2 order-2 order-md-1">

                <a href="https://developer6669.com" class="mr-3 mr-md-6">
                    <img alt="logo" src="https://developer6669.com/Projects/assets/images/logo/developer6669.png" class="h-20px h-md-25px">
                </a>

                <span class="font-size-2 font-weight-bold text-dark-60 pt-1" href="https://developer6669.com">
                    © 2022  Developer6669.com
                </span>

            </div>

            <div class="d-flex flex-column flex-md-row align-items-center justify-content-center order-1 order-md-2 mb-5 mb-md-0">
                <div class="font-size-2 font-weight-bold text-dark-60 mb-5 mb-md-0">
                    Secured Payment by <a href="https://developer6669.com" target="_blank" class="text-dark-50 text-hover-primary">2Checkout</a> with:
                </div>

                <div class="ml-4">
                    <img src="https://developer6669.com/Projects/assets/images/icons/credit/paypal.svg" data-lazy-src="https://developer6669.com/Projects/assets/images/icons/credit/paypal.svg" alt="" class="h-20px mr-2 rounded-sm loaded">

                    <img src="https://developer6669.com/Projects/assets/images/icons/credit/visa.svg" data-lazy-src="https://keenthemes.com/images/payment-methods/light/visa.svg" alt="" class="h-20px mr-2 rounded-sm loaded">

                    <img src="https://developer6669.com/Projects/assets/images/icons/credit/mastercard.svg" data-lazy-src="https://developer6669.com/Projects/assets/images/icons/credit/mastercard.svg" alt="" class="h-20px mr-2 rounded-sm loaded">

                    <img src="https://developer6669.com/Projects/assets/images/icons/credit/americanexpress.svg" data-lazy-src="https://developer6669.com/Projects/assets/images/icons/credit/americanexpress.svg" alt="" class="h-20px rounded-sm loaded">
                </div>
            </div>
        </div>
    </div>
</footer>

-->
    {% endblock %}
</body>
</html>