{% load static %}

<!doctype html>
<html lang="en">
  <head>

    {% block meta %}
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}

    {% block extra_meta %}
    {% endblock %}

    {% block corecss %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato&display=swap">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% block extra_css %}
    {% endblock %}

    {% block corejs %}
        <script src="https://kit.fontawesome.com/fd0a894435.js" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
        <!-- Stripe -->
        <script src="https://js.stripe.com/v3/"></script>
    {% endblock %}

    {% block extra_js %}
    {% endblock %}

    <title>PicShack {% block extra_title %} {% endblock %}</title>
  </head>

  <body>
    <header class="container-fluid">
        <!--XL Screens Header-->
        <div class="row d-none d-xl-flex p-lg-2" id="main-header">
            <!--Picture Logo Column-->
            <div class="col-md-4 col-xl-3 my-auto">
                <a href="{% url 'home' %}">
                    <img src="s3://p5-pic-shack/media/File_00002.jpg" alt="picture shack logo picture" class="img-fluid pic-logo">
                </a>
            </div>

            <!--Code inspired by CI tutorial-->

            <!--Categories Section-->
            <div class="col-xl-4 my-auto" id="categories-header">
                {% include 'includes/main-nav.html' %}
            </div>
            
            <!--Search Bar-->
            <div class="col-xl-3 my-auto">
                <form method="GET" action="{% url 'products' %}">
                    <div class="input-group w-100">
                        <input class="form-control border border-black rounded-left" type="text" name="q" placeholder="Search our site">
                        <div class="input-group-append">
                            <button class="form-control btn btn-black border border-black rounded-right" type="submit">
                                <span class="icon">
                                    <i class="fas fa-search"></i>
                                </span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <!--My Account and Basket-->
            <div class="col-xl-2 my-auto p-0">
                <ul class="list-inline list-unstyled text-center my-0" style="object-fit: contain;">
                    <li class="list-inline-item dropdown">
                        <a class="text-white nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <div class="text-center">
                                <div><i class="fas fa-user fa-m"></i></div>
                                <p class="my-0 p-nav">
                                    {% if request.user.is_authenticated %}
                                    {{ request.user.username }}
                                    {% else %}
                                    Sign In
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                        <div class="dropdown-menu border-0" aria-labelledby="user-options">
                            {% if request.user.is_authenticated %}
                                {% if request.user.is_superuser %}
                                    <a href="{% url 'add_product' %}" class="dropdown-item">Product Management</a>
                                {% endif %}
                                <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                            {% else %}
                                <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                            {% endif %}
                        </div>
                    </li>
                    <li class="list-inline-item">
                        <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-white{% endif %} nav-link" href="{% url 'view_bag' %}">
                            <div class="text-center">
                                <div><i class="fa-solid fa-bag-shopping fa-lg"></i></div>
                                <p class="my-0 text-white p-nav">
                                    {% if grand_total %}
                                        £{{ grand_total|floatformat:2 }}
                                    {% else %}
                                        £0.00
                                    {% endif %}
                                </p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <!--L, M, S Screen Size Header-->
        <div class="row d-xl-none justify-content-center" id="main-header">
            <div class="pic-logo d-xl-none d-sm-block">
                <a href="{% url 'home' %}">
                    <img src="s3://p5-pic-shack/media/File_00002.jpg" alt="picture shack logo picture" class="img-fluid pic-logo">
                </a>
            </div>
            <nav class="navbar navbar-light w-100 justify-content-between">
                <button class="navbar-toggler ham-menu mobile-nav-btn" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                {% include 'includes/mobile-top-header.html' %}                
            </nav>
            {% include 'includes/main-nav.html' %}
        </div>
        
    </header>

    {% if messages %}
    <div class="message-container" id="msg">
        {% for message in messages %}
            {% with message.level as level %}
                {% if level == 40 %}
                    {% include 'includes/toasts/toast_error.html' %}
                {% elif level == 30 %}
                    {% include 'includes/toasts/toast_warning.html' %}
                {% elif level == 25 %}
                    {% include 'includes/toasts/toast_success.html' %}
                {% else %}
                    {% include 'includes/toasts/toast_info.html' %}
                {% endif %}
            {% endwith %}
        {% endfor %}
    </div>
    {% endif %}

    {% block page_header %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block postloadjs %}
    <script type="text/javascript">
        $('.toast').toast('show');
        setTimeout(function () {
            let messages = document.getElementById('msg');
            let alert = new bootstrap.Alert(messages);
            alert.close();
        }, 4000);
    </script>
    {% endblock %}

    {% block footer %}
    <footer>
        <br>
        <div class="color-banner row justify-content-between">
                <div class="col-sm-6 col-md-6 col-lg-3"><p class="pt-3 p-size text-center">Fast Delivery <i class="fa-solid fa-truck"></i></p></div>
                <div class="col-sm-6 col-md-6 col-lg-3"><p class="pt-3 p-size text-center">Free Shipping Over £50 <i class="fa-solid fa-box"></i></p></div>
                <div class="col-sm-6 col-md-6 col-lg-3"><p class="pt-3 p-size text-center">High Definition <i class="fa-solid fa-image"></i></p></div>
                <div class="col-sm-6 col-md-6 col-lg-3"><p class="pt-3 p-size text-center">Secure Payment <i class="fa-brands fa-cc-stripe"></i></p></div>
        </div>
        <div class="row color-banner">
            <div class="col border-top border-right border-light d-flex justify-content-center">
                <div class="col-md-12 col-lg-6 mt-md-0 mb-3">
                    <h5 class="text-dark  mt-3">Newsletter</h5>
                    <p class="small text-dark">Subsribe to hear the lastest from us!</p>
                    <form class="" action="{% url 'newsletter' %}" method="POST">
                    {% csrf_token %}
                        <div class="d-block d-md-block d-lg-flex">
                            <input class="form-control" type="email" name="email" placeholder="Email*"
                                aria-label="User's email" aria-describedby="subscribe-button">
                            <button class="btn btn-secondary mt-1 mt-md-0 mt-lg-0" type="submit"> Subscribe</button>
                        </div>
                    </form>
                    <div class="row m-1">
                    <a href="{% url 'unsub_newsletter' %}" class="text-dark" >Unsubscribe here.</a>
                    </div>
                </div>
            </div>
            <div class="col border-top border-light d-flex justify-content-center align-items-center">
                <ul class="list-unstyled  mt-3">
                    <li class="mb-4"><a class="text-decoration-none text-dark" href="{% url 'privacy' %}" target="_blank">Privacy</a></li>
                    <li class="mt-4"><a class="text-decoration-none text-dark" href="{% url 'contact_us' %}">Contact Us</a></li>
                    <li class="mt-4 mb-4"><a class="text-decoration-none text-dark" href="https://www.instagram.com/" target="_blank"><i class="fa-brands fa-instagram"></i> Instagram</a></li>
                    <li class="mt-4"><a class="text-decoration-none text-dark" href="https://www.facebook.com/" target="_blank"><i class="fa-brands fa-facebook-f"></i> Facebook</a></li>
                </ul>
            </div>
        </div>
        <div class="row m-2 d-flex justify-content-center align-items-center">
            <p>This website was designed as part of a project for my Code Institute Diploma. Everything you see here is for educational purposes only.</p>
        </div>
    </footer>
    {% endblock %}
</body>
</html>