{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col-sm"></div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <a href="{% url 'products' %}" class="btn mt-md-5 pt-md-5">
                <span class="icon">
                    <i class="fas fa-chevron-left"></i>
                </span>
                <span>Keep Shopping</span>
            </a>
        </div>
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                <div class="image-container my-5">
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid" id="img-border" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                        {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid" src="/media/not_available.jpg" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
                <div class="product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ product.name }}</p>
                    <p class="lead mb-0 text-left font-weight-bold">£{{ product.price }}</p>
                    {% if product.category %}
                    <p class="small mt-1 mb-0">
                        <a class="text-muted" href="{% url 'products' %}?category={{ product.category.name }}">
                            <i class="fas fa-tag mr-1"></i>{{ product.category.friendly_name }}
                        </a>
                    </p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star mr-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No Rating</small>
                    {% endif %}
                    <br>
                    {% if request.user.is_authenticated %}
                        <!-- Review Modal trigger button -->
                        <button type="button" class="btn btn-sm main-btn ms-2 pl-0 text-primary" data-toggle="modal" data-target="#reviewModal">
                            Leave a review  <i class="fa-solid fa-star-half-stroke"></i>
                        </button> 

                        <!-- Modal for activating the review form-->
                        <div class="modal fade" id="reviewModal" tabindex="-1" role="dialog" aria-labelledby="reviewModalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="reviewModalLabel">Leave a review!</h5>
                                    <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><strong>X</strong></button>
                                </div>
                                    <div class="modal-body">
                                        <form class="" action="{% url 'review_product' product.id %}" method="POST">
                                            {{ form | crispy }}
                                            {% csrf_token %}
                                            <input type="submit" class="form-control btn btn-success" id="exampleFormControlInput1" value="Leave review">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <a href="{% url 'account_login' %}">Sign in to leave a review</a>
                    {% endif %}
                    <br>
                    {% if request.user.is_superuser %}
                        <small class="ml-3">
                            <a href="{% url 'edit_product' product.id %}" class="btn btn-sm main-btn ms-2 text-decoration-none text-info delete-anchor" id="edit-btn">Edit <i class="fas fa-pen fa-sm"></i></a> | 
                            <!-- Modal trigger button -->
                            <button type="button" class="btn btn-sm main-btn ms-2 text-danger" data-toggle="modal" data-target="#deleteModal">
                                Delete  <i class="far fa-trash-alt"></i>
                            </button> 
                        </small>

                    <!-- Modal for deleting a post-->
                    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                          <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">You are deleting a product!</h5>
                                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close"><strong>X</strong></button>
                            </div>
                                <div class="modal-body">
                                    Are you sure you want to delete this post?
                                </div>
                                <div class="modal-footer">
                                    <div class="btn d-inline-block btn-danger">
                                        <a class="text-decoration-none delete-anchor text-white" href="{% url 'delete_product' product.id %}">Delete<i class="far fa-trash-alt"></i></a>
                                    </div>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            {% with product.has_sizes as s %}
                            {% if s %}
                                <div class="col-12">
                                    <p><strong>Size:</strong></p>
                                    <select class="form-control rounded-0 w-50" name="product_size" id='id_product_size'>
                                        <option value="small">Small 40 x 50 cm</option>
                                        <option value="medium">Medium 50 x 70 cm</option>
                                        <option value="large" selected>Large 70 x 100 cm</option>
                                    </select>
                                </div>
                            {% endif %}
                            <div class="col-12">
                                <p class="mt-3"><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button class="btn btn-dark decrement-qty" 
                                                data-item_id="{{ product.id }}" id="decrement-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}"
                                            id="id_qty_{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="btn btn-success increment-qty"
                                                data-item_id="{{ product.id }}" id="increment-qty_{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col{% if s %}-12 mt-2{% endif %}">
                                <input type="submit" class="btn btn-dark text-uppercase" value="Add to Bag">
                                <a type="submit" class="btn btn-dark text-uppercase" href="{% url 'view_bag' %}">View Cart <i class="fa-solid fa-cart-arrow-down"></i></a>
                            </div>
                            <input type="hidden" name="redirect_url" value="{{ request.path }}">
                            {% endwith %}
                        </div>
                    </form>
                    <hr>
                    <p class="mt-3">{{ product.description }}</p>
                </div>
            </div>
        </div>
        <h3>Reviews<span><i class="fa-solid fa-star-half-stroke"></i></span></h3>
        <div class="row">
            {% for reviews in review %}
                <div class="col-lg-6 mt-1 bg-warning align-items-center"">
                    <p>{{ reviews.text }}</p>
                </div>
                <div class="col-lg-2 mt-1  bg-warning">
                    <p>{{ reviews.user }} | {{ reviews.created_on }}</p>
                </div>
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                    <a class="text-decoration-none text-danger d-flex align-items-center p-1" href="{% url 'delete_review' reviews.id %}"><i class="fa-solid fa-trash-can"></i></a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
    <div id="color-banner" class="row mt-5">
        <div class="col text-dark d-flex justify-content-center">
            <p class="m-0 text-p">Quality Paper <i class="fa-solid fa-scroll"></i></p>
            <p class="m-0 text-p">Made in UK <i class="fa-solid fa-flag"></i></p>
            <p class="m-0 text-p">100% Recycled Materials <i class="fa-solid fa-recycle"></i></p>
        </div>
    </div>
    <div class="row">
        <div class="col text-dark d-flex justify-content-left m-5 w-80">
        <p>Picshack loves trends and that’s why we always ensure we offer you the newest of the new in posters and prints. 
            We are continuously expanding our range and we regularly add new designs by talented designers, photographers and illustrators.</p>
        </div>
    </div>


{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}